/* create grid and align the boxes how I want them on the page */
.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
}
.item1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.item2 {
  grid-row-start: 2;
  grid-row-end: 5;
}
.item3 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;

  grid-column-end: 10;
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 6;
}
strong {
  font-size: 20px;
}
img {
  width: 50px;
}
.cardstyle {
  background-color: blue;
  color: white;
  font-size: 10px;
  display: inline-block;
}
